@media (max-width: 500px) {
  .sidebar {
      width: 100% !important;
      padding: 0 !important;
  }

  .productDescription {
      padding-left: 0 !important;
  }

  .productDetails {
      display: grid !important;
      text-align: center;
  }

  .accordion_title {
      font-size: 0.9rem !important;
  }
}

@media(max-width: 700px) {
  .productDetails {
      display: grid !important;
      text-align: center;
  }

  .details p {
      inline-size: 90% !important;
      overflow-wrap: break-word !important;
  }

  .productDescription {
      padding-left: 0 !important;
  }

  .productName h1 {
      font-size: 2rem !important;
  }

  .collapsedSidebar {
      width: 100% !important;
  }
}

@media(max-width: 900px) {
  .details p {
      inline-size: 90% !important;
      overflow-wrap: break-word !important;
  }

  .productDescription {
      padding-left: 30px;
  }
}

body {
  font-family: 'system-ui';
}

.maincontainertodo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.secondcon {
  background-color: white;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 7px -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createtodo {
  margin-right: 50px;
}

.createtodo input {
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid #cacaca;
  outline: none;
}

.createBtn button {
  background-color: #8052ec;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.secondcon p {
  margin-right: 50px;
}

.deletebtn button {
  background-color: #8052ec;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.m-50 {
  margin-top: 30px !important;
}

.mainComponent {
  background-color: #42607B;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.exploreBtn {
  background-color: #00A1D4;
  border-radius:5px ;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.50px;
  outline: none;
  border: none;
  color: #FFFFFF;
}
.hidden{
  display: none;
}
.exploreBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.container {
  width: 100%;
  max-width: 250px;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -300px;
  height: 100%;
  width: 520px;
  gap: 10px;
  background-color: #42607B;
  z-index: 2;
}

.sidebar.open {
  right: 0;
}

.sidebar-content h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 0 0 10px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlay.visible {
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.4s;
}

.accordion_title {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  margin-right: 10px;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.datanotfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.accordianContainer{
  background-color: #1A2632;
  padding: 6px 0;
  border-radius: 8px;
  transition: 0.5s;
}

.accordion-item {
  transition: 0.5s;
}

.accordion {
  padding: 10px;
  cursor: pointer;
}

.accordionTitle {
  font-size: 24px;
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
}

.accordion-content {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 12px;
}

.accordion-content p {
  color: #FFFFFF;
}

.m-0 {
  margin: 0 !important;
}

  .arrowup {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
  width: 10px;
  height: 6.42px;
  object-fit: cover;
}

  .arrowdown {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  width: 10px;
  height: 6.42px;
  object-fit: cover;
}

.productDetailsContainer {
  background-color: #42607B;
  width: 100%;
  padding-bottom: 20px;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
}

.productDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 58px;
  justify-content: center;
}

.productImg img {
  width: 120px;
  height: 120px;
}

.productName h1 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 400;
}

.productDescription {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 120px;
}

.details {
  margin-top: 40px;
}

.details h1 {
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 12px;
}

.details p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
}

.contactDetails {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contactDetails h1 {
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
}

.contactDetails p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.productContainer {
  width: 100%;
  max-width: 250px;
  margin: 30px auto;
  bottom: 40px;
  right: 0;
  left: 0;
}

.show {
  transform: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 5s ease-in-out;
  background-position: left bottom;
  background: linear-gradient(to left, black 50%, rgb(17, 17, 17) 50%);
  background-size: 200% 100%;
}